body {
  margin: 0;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ae654f, #972350, #050c46, #337263);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
